
#container, #thanks-container, #text, #thanks-text, h1, #total_raised, #total_raised p, #current, #target, #donate_btn, #donate_btn:hover, #lightbox{
  behavior: url('/javascripts/PIE.htc');
}

h1, #text, #thanks-text, #total_raised, a#donate_btn, #overlay{
  color:#fff;
}
/* Home page specific */
#container #total_raised{
  height:210px !important;
  margin-bottom:20px !important;
}
/* Thank-you page specific */
#thanks-container{padding-top:60px;}
#thanks-container h1, #thanks-container #total_raised, #thanks-container #thanks-text, #thanks-container #social-networks{
  position:absolute;
  display:block;
}
#thanks-container h1{top:20px;}
#thanks-container #total_raised{
  top:170px;
  height:120px !important;
}
#thanks-container #thanks-text{top:370px;}
#thanks-container #social-networks{top:540px;}