// Rounded Corner helper
@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
// Box Shadow
@mixin box-shadow( $h-length, $v-length, $blur, $spread, $color){
  -moz-box-shadow: $h-length $v-length $blur $spread $color;
  -webkit-box-shadow: $h-length $v-length $blur $spread $color;
  box-shadow: $h-length $v-length $blur $spread $color;
}

html {
  height: auto;
}

body {
  height: auto;
  margin: 0;
  padding: 0 0 20px;
  font-family: helvetica, arial, san-serif;
}

#map_canvas {
  height: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
  z-index:0;
}

@media print {
  #map_canvas {
    height: 950px;
  }
}

#container{
  position:relative;
  z-index:1;
  top:20px;
  left:20px;
  width:300px;
}

#text, #thanks-text{
  height:auto;
  width:300px;
  color:#fff;
  background:#000;
  background:rgba(0,0,0,0.5);
  padding:20px;

  @include rounded();
  border: 3px solid #fff;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #ff00de, 0 0 9px #ff00de, 0 0 10px #ff00de, 0 0 12px #ff00de, 0 0 15px #ff00de, 
              inset 0 0 2px #fff, inset 0 0 4px #fff, inset 0 0 6px #fff, inset 0 0 8px #ff00de, inset 0 0 9px #ff00de, inset 0 0 10px #ff00de, inset 0 0 12px #ff00de, inset 0 0 15px #ff00de;
}

h1 {
  font-weight:normal;
  margin:0;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #ff00de, 0 0 9px #ff00de, 0 0 10px #ff00de, 0 0 12px #ff00de, 0 0 15px #ff00de;
}

#text{
  padding:0 0 20px;
  width:340px;
  h1{
    text-indent:-9000px;
    display:block;
    width:340px;
    height:144px;
    background:url('../images/neonNightWalk-logo.gif') no-repeat 0 0;
  }
  p{padding:0 20px}
}

p{
  font-size:14px;
  line-height:1.5;
}

#total_raised{
  background:#000;
  background:rgba(0,0,0,0.5);
  margin-top:20px;
  width:300px;
  color:#fff;
  padding:20px;
  @include rounded();
  border: 3px solid #fff;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #66ff00, 
               0 0 9px #66ff00, 0 0 10px #66ff00, 0 0 12px #66ff00, 0 0 15px #66ff00;

  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #FFFF00, 
                0 0 9px #FFFF00, 0 0 10px #FFFF00, 0 0 12px #FFFF00, 0 0 15px #FFFF00, 
                inset 0 0 2px #fff, inset 0 0 4px #fff, inset 0 0 6px #fff, inset 0 0 8px #FFFF00, 
                inset 0 0 9px #FFFF00, inset 0 0 10px #FFFF00, inset 0 0 12px #FFFF00, inset 0 0 15px #FFFF00;

  p {
    font-size:1.8em;
    margin:0;
    text-transform:uppercase;
  }

  #current, #target{
    font-size:4em;
    margin-bottom:1em;
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #00ffff, 
                 0 0 9px #00ffff, 0 0 10px #00ffff, 0 0 12px #00ffff, 0 0 15px #00ffff;
  }
  #target{
    font-size:3em;
  }
}

a#donate_btn {
  background:#000;
  background:rgba(0,0,0,0.5);
  margin:20px 0;
  text-transform:uppercase;
  font-size:1.6em;
  letter-spacing: 4px;
  display:block;
  z-index: 1;
  float:left;
  clear:both;
  text-decoration:none;
  width:316px;
  text-align:center;  
  padding:12px;
  color:#fff;
  @include rounded();
  border: 3px solid #fff;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #ff00de, 
               0 0 9px #ff00de, 0 0 10px #ff00de, 0 0 12px #ff00de, 0 0 15px #ff00de;

  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #ff00de, 
              0 0 9px #ff00de, 0 0 10px #ff00de, 0 0 12px #ff00de, 0 0 15px #ff00de, 
              inset 0 0 2px #fff, inset 0 0 4px #fff, inset 0 0 6px #fff, inset 0 0 8px #ff00de, 
              inset 0 0 9px #ff00de, inset 0 0 10px #ff00de, inset 0 0 12px #ff00de, inset 0 0 15px #ff00de;
}

a#donate_btn:hover{
  border: 3px solid #fff;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #66ff00, 
               0 0 9px #66ff00, 0 0 10px #66ff00, 0 0 12px #66ff00, 0 0 15px #66ff00;

  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #66ff00, 
              0 0 9px #66ff00, 0 0 10px #66ff00, 0 0 12px #66ff00, 0 0 15px #66ff00, 
              inset 0 0 2px #fff, inset 0 0 4px #fff, inset 0 0 6px #fff, inset 0 0 8px #66ff00, 
              inset 0 0 9px #66ff00, inset 0 0 10px #66ff00, inset 0 0 12px #66ff00, inset 0 0 15px #66ff00;
}

#thanks-container{
  width:540px;
  margin:60px auto;
  position:relative;
  z-index:1;

  h1{
    background:#000;
    background:rgba(0,0,0,0.5);
    width:100%;
    text-align:center;
    font-size:5em;
    display:block;
    z-index:1;
    color:#fff;
    padding:20px;
    @include rounded();
    border: 3px solid #fff;
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #66ff00, 
                 0 0 9px #66ff00, 0 0 10px #66ff00, 0 0 12px #66ff00, 0 0 15px #66ff00;

    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #66ff00, 
                0 0 9px #66ff00, 0 0 10px #66ff00, 0 0 12px #66ff00, 0 0 15px #66ff00, 
                inset 0 0 2px #fff, inset 0 0 4px #fff, inset 0 0 6px #fff, inset 0 0 8px #66ff00, 
                inset 0 0 9px #66ff00, inset 0 0 10px #66ff00, inset 0 0 12px #66ff00, inset 0 0 15px #66ff00;
  }
  #total_raised{
    width:100%;
    overflow:hidden;
    color:#fff;
    background:#000;
    background:rgba(0,0,0,0.5);

    p{
      width:50%;
      display:block;
      float:left;
      text-align:center;

      span{
        font-size:1.8em;
        clear:both;
      }
    }
  }

  #thanks-text{
    margin-top:20px;
    width:100%;
  }

  #social-networks{
    margin:0 0 0 40px;
    overflow:hidden;
    a{
      display:block;
      text-indent:-9000px;
      display:block;
      width:250px;
      height:250px;
      float:left;
    }
    #twitter{
      background:url('../images/twitter-logo-square-neon.png') no-repeat 0 0;
    }
    #facebook{
      background:url('../images/facebook-logo-square-neon.png') no-repeat 0 0;
    }
  }
}

#overlay{
  background:#000;
  background:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  z-index:2;
  position:absolute;
  top:0;
  left:0;
  display:none;

  #lightbox{
    width:400px;
    padding:20px;
    background:#fff;
    height:auto;
    margin:60px auto;
    @include rounded();
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px cyan, 
              0 0 9px cyan, 0 0 10px cyan, 0 0 12px cyan, 0 0 15px cyan, 
              inset 0 0 2px #fff, inset 0 0 4px #fff, inset 0 0 6px #fff, inset 0 0 8px cyan, 
              inset 0 0 9px cyan, inset 0 0 10px cyan, inset 0 0 12px cyan, inset 0 0 15px cyan;
  }
}