# Page Title
- content_for(:title, "WhizzKids Neon Night Walk 2010 - Thank-you from Team Sparklemotion")

# Body Content
- content_for :body do
  #thanks-container
    h1 Thank-You!

    #total_raised
      p 
        | Raised so far
          <span id="current"></span>
      p 
        | Target
          <span id="target"></span>

    #thanks-text
      p
        | All of us from Team Sparklemotion would like to 
          thank-you for your kind and generous donation. 
          Please help us in meeting our target by sharing our site with 
          your friends and colleagues, by clicking on the links below.
    
    #social-networks
      a#twitter href="http://www.twitter.com" title="Post on Twitter"
      a#facebook href="http://www.facebook.com" title="Post on your Facebook wall"

  #overlay
    #lightbox

  script src="http://platform.twitter.com/anywhere.js?id=bBGPFyzkn6ICebj3bYNAQQ&v=1" type="text/javascript"
  javascript:
    $(document).ready(function(){
      $('#twitter').click(function(){
        $('#lightbox').show();
        twttr.anywhere(function (T) {
          T("#lightbox").tweetBox({
            height: 100,
            width: 400,
            defaultContent: "I just donated to Team Sparklemotion, you can donate too at: http://neonnightwalk.co.uk",
            label: "Message:"
          });
        }); 
        $('#overlay').click(function(){
          $(this).hide();
        });
        return false;
      });
    });
  
  script src="'//connect.facebook.net/en_US/all.js';" type="text/javascript"
  javascript:
    $(document).ready(function(){
      $('#facebook').click(function(){
        FB.ui(
        {
            method: 'feed',
          name: 'Facebook Dialogs',
          link: 'http://developers.facebook.com/docs/reference/dialogs/',
          picture: 'http://fbrell.com/f8.jpg',
          caption: 'Reference Documentation',
          description: 'Dialogs provide a simple, consistent interface for applications to interface with users.',
          message: 'Facebook Dialogs are easy!'
          },
          function(response) {
            if (response && response.post_id) {
               alert('Post was published.');
            } else {
              alert('Post was not published.');
            }
          }
        );
        return false;
      });
    });
