# Page Title
- content_for(:title, "WhizzKids Neon Night Walk 2010 - Thank-you from Team Sparklemotion")

# Body Content
- content_for :body do
  #thanks-container
    h1 Thank-You!

    #total_raised
      p 
        | Raised so far
          <span id="current"></span>
      p 
        | Target
          <span id="target"></span>

    #thanks-text
      p
        | All of us from Team Sparklemotion would like to 
          thank-you for your kind and generous donation. 
          Please help us in meeting our target by sharing our site with 
          your friends and colleagues, by clicking on the links below.
    
    #social-networks
      a#twitter href="http://www.twitter.com" title="Post on Twitter"
      a#facebook href="http://www.facebook.com" title="Post on your Facebook wall"

  #overlay
    #lightbox
  #fb-root

  script src="http://platform.twitter.com/anywhere.js?id=bBGPFyzkn6ICebj3bYNAQQ&v=1" type="text/javascript"
  script src="//connect.facebook.net/en_US/all.js" type="text/javascript"
  javascript:
    $(document).ready(function(){
      // Twitter Sharing
      $('#twitter').click(function(){
        $('#overlay').show();
        twttr.anywhere(function (T) {
          T("#lightbox").tweetBox({
            height: 100,
            width: 400,
            defaultContent: "I just donated to Team Sparklemotion, you can donate too at: http://neonnightwalk.co.uk",
            label: "Your Tweet:",
            onTweet: function(){
              $('#overlay').trigger('click');
            }
          });
        }); 
        return false;
      });

      // Facebook sharing
      FB.init({
        appId  : '178983335493009',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
      });
      // On clicking the button login
      $('#facebook').click(function(){
        FB.login(function(response) {
          if (response.session) {
            if (response.perms) {
              // user is logged in and granted some permissions.
              // perms is a comma separated list of granted permissions
              FB.ui(
              {
                method: 'feed',
                name: 'I just donated to the Whizz-Kidz Neon Night Walk',
                link: 'http://neonnightwalk.co.uk/',
                picture: 'http://neonnightwalk.co.uk/images/purple-neon-smiley-happy.png',
                description: 'On July 1st 2011 Team Sparklemotion will be participating in a 20 mile Neon Night Walk in order to raise money for the Whizz-Kidz charity. Please help us to meet our target by donating through our web-page.',
                message: ''
                },
                function(response) {
                  if (response && response.post_id) {
                    //alert('Post was published.');
                  } else {
                    //alert('Post was not published.');
                  }
                }
              );
            } else {
              // user is logged in, but did not grant any permissions
            }
          } else {
            // user is not logged in
          }
        }, {perms:'publish_stream'});
        return false;
      });

      // Hide lightbox and tidy up
      $('#overlay').click(function(){
        $(this).hide().children('#lightbox').children().remove();
      });
    });
